@page "/Welcome"

<PageTitle>
	@($"Bienvenido - {Application.Title}")
</PageTitle>

<AuthorizeView>
	<Authorized>
		<div class="jd-align-center text-center">
			<img class="img-fluid" src="/images/bg-app-logo.svg" alt="Application Logo Background" />
		</div>
	</Authorized>
	<NotAuthorized>
		@{
			NavigationManager.NavigateTo(RouteAttributeReader.GetValue(typeof(Login)));
		}
	</NotAuthorized>
</AuthorizeView>