<nav class="navbar header-navbar p-0">
    <button class="navbar-toggler d-block border-2 jd-menu-button" @onclick="OnToggleClick">
        <span class="navbar-toggler-icon"></span>
    </button>
    <HeaderMenu />
</nav>