@page "/Logout"
@layout EmptyLayout

<div class="splash-screen">
    <div class="spinner-border"></div>
    <div class="splash-screen-caption text-primary">@Application.SimplifiedTitle</div>
    <div class="splash-screen-text text-secondary">Cerrando sesión...</div>
</div>